header {
    background-color: orange;
    text-align: center;
    display: flexbox;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 25px;
}

.quiz-container {
    background-color: white;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

h2 {
    background-color: cornflowerblue;
    border-radius: 20px;
    box-sizing: content-box;
    width: 100%;
    text-align: center;
    font-size: 35px;

}

ul {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 10px; */
    /* list-style-type: none; */
    font-size: 25px;
    display: inline-block;
    position: relative;

}

li {
    background: rgb(205, 198, 198);
    border-radius: 20px;
    box-sizing: content-box;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 2rem;
    display: flex;
    text-align: center;

}

li:hover {
    background-color: greenyellow;
}

.timer-display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;

}

#score-display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

body {
    background-color: white;
}

#start-btn {
    background-color: blue;
    color: white;
    font-size: 40px;
    text-align: center;
    border-color: greenyellow;
    width: 300px;
    border-radius: 10px;

}

.buttons {
    text-align: center;
}

#start-over-btn {
    background-color: blue;
    color: white;
    font-size: 40px;
    text-align: center;
    border-color: greenyellow;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;

}

#score-display {}